.searchbar {
    display: flex;
    margin-top: 2%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
  }
  
  .inputfield {
    border: inherit;
    border-bottom: 2px solid black;
    height: 30px;
    width: 200px;
    font-weight: bold;
  }
  
  .search-button {
    padding-right: 1%;
    padding-bottom: 1%;
  }
  