.search-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 768px) {
  .search-grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
