.mob-buttons {
  display: none;
}

.header {
  color: black;
  box-sizing: border-box;
  height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 0% 5%;
  width: 100%;
  background-color: white;
}
.header-title {
  font-family: "Montserrat", sans-serif;
  padding-left: 5%;
}
.desktop-buttons {
  padding-right: 5%;
  padding-top: 1%;
}

.header-title h1 {
  font-size: 1.5rem;
}

.header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  background-color: white;
}
.header-content p {
  font-family: "Montserrat", sans-serif;
}
.desktop-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 12;
  background-color: white;
}

@media (max-width: 768px) {
  .desktop-buttons {
    display: none;
  }

  .mob-buttons {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    z-index: 12;
    height: 50px;
    border-top: 1px solid #9fa7ab;
  }
  }
