@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary: black;
  --error: #ff4a4a;
}


body {
  font-family: "Noto Serif";
  color: var(--secondary);

  margin: 0;
}
.App {
  padding: 0%;
  padding-bottom: 6%;
}
.content {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}




/* image grid styles */


/* modal styles */

/* Profile page */


/* Search Bar */


/* //For mobiles */

@media (max-width: 768px) {
  .image-grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .content {
    width: 80%;
  }

  .desktop-buttons {
    display: none;
  }

  .mob-buttons {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    z-index: 12;
    height: 50px;
    border-top: 1px solid #9fa7ab;
  }
  .modal img {
    margin: 70px auto;
  }
  .App {
    padding: 0%;
    padding-bottom: 7%;
  }
}
