@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root{
  --primary: black;
  /* --secondary: #4e4e4e; */
  --error: #ff4a4a;
}

body{
  font-family: "Noto Serif";
  color: var(--secondary);
  margin: 0;
}
.App{
  padding: 0%;
  padding-bottom: 6%;
  
}
.content{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}
.mob-buttons{
  display: none;
}

@media  (max-width: 768px) {
  
.content{
  width: 80%;
}

.App{
  padding: 0%;
  padding-bottom: 7%;
  
}
}